

<div class="row wrap connected">
    <button class="btn left" style="margin-left: 0"><img src="{{ asset('img/icons/menu-tab.png') }}" alt="menu tab"></button>
    <button class="btn left"><img src="{{ asset('img/icons/menu-profile.png') }}" alt="menu profile"></button>
    <button class="btn left"><img src="{{ asset('img/icons/menu-formations.png') }}" alt="menu formations"></button>
    <a href="{{ path('fos_user_security_logout') }}" class="btn right"><img src="{{ asset('img/icons/menu-signout.png') }}" alt="menu signout"></a>
    <button class="btn right"><img src="{{ asset('img/icons/menu-account.png') }}" alt="menu account"></button>
    <button class="btn right"><img src="{{ asset('img/icons/menu-message.png') }}" alt="menu message"></button>
    <a href="{{ path('pn_pages_homepage') }}">
        <div class="logo">
            <h2 style="    text-align: right;">Parent</h2>
            <img src="{{ asset('img/illus/logo.jpg') }}" alt="logo" height="80px" style="border: dashed lightgrey 1px;">
            <h2>Nounou</h2>
        </div>
    </a>
</div>