

<div class="row wrap connected">
    <a href="{{ path('pn_pn_homepage') }}" title="Page d'accueil" class="btn left round" style="margin-left: 0"><img src="{{ asset('bundles/pnpn/images/icons/white-home.png') }}" alt="menu tab" style="margin-top: 4px; margin-left: -1px;"></a>
    <a href="{{ path('sonata_admin_dashboard') }}" class="btn left round" style="margin-left: 0; padding-top: 5px;">A</a>
    <a href="{{ path('logout') }}" title="Déconnexion" class="btn right round"><img src="{{ asset('bundles/pnpn/images/icons/menu-signout.png') }}" alt="menu signout"></a>
    <a href="#account_management" title="Gestion du compte" role="button" class="btn right round" data-toggle="modal"><img src="{{ asset('bundles/pnpn/images/icons/menu-account.png') }}" alt="menu account"></a>
    <a href="{{ path('pn_pn_homepage') }}" title="Page d'accueil">
        <div class="logo">
            <h2 style="text-align: right; margin-left: 53px;">Parent</h2>
            <h2 style="margin-left: 120px;">Nounou</h2>
        </div>
        <div class="circle">
            <img src="{{ asset('bundles/pnpn/images/illus/logo.png') }}" alt="logo" height="80px" style="border: dashed lightgrey 1px; border-radius: 40px;">
        </div>
    </a>
</div>