

{# src/Pn/PnBundle/views/Default/index.html.twig #}


<form id="changePasswordForm" action="{{ path('pn_change_password') }}" method="post" {{ form_enctype(form) }}>

    <div class="alert alert-success" id="changePasswordSuccess" style="display: none;"></div>
    <div class="alert alert-danger" id="changePasswordErrors" style="display: none;"></div>

    {{ form_errors(form.oldPassword) }}
    {{ form_widget(form.oldPassword) }}

    {{ form_errors(form.newPassword.first) }}
    {{ form_widget(form.newPassword.first) }}

    {{ form_errors(form.newPassword.second) }}
    {{ form_widget(form.newPassword.second) }}


    {{ form_rest(form) }}

    <button type="submit">Valider</button>


</form>