

<div class="row wrap connected">
    <a href="{{ path('pn_dashboard') }}" title="Tableau de bord" class="btn left round" style="margin-left: 0"><img src="{{ asset('bundles/pnpn/images/icons/menu-tab.png') }}" alt="menu tab"></a>
    <a href="{{ path('myprofile_edit') }}" title="Mon profil" class="btn left round"><img src="{{ asset('bundles/pnpn/images/icons/menu-profile.png') }}" alt="menu profile"></a>
    <a href="{{ path('mooc') }}" title="Espace Formation" class="btn left round"><img src="{{ asset('bundles/pnpn/images/icons/menu-formations.png') }}" alt="menu formations"></a>
    <a href="{{ path('logout') }}" title="Déconnexion" class="btn right round"><img src="{{ asset('bundles/pnpn/images/icons/menu-signout.png') }}" alt="menu signout"></a>
    <a href="#account_management" title="Gestion du compte" role="button" class="btn right round" data-toggle="modal"><img src="{{ asset('bundles/pnpn/images/icons/menu-account.png') }}" alt="menu account"></a>
    <a href="{{ path('message') }}" title="Messages" class="btn right round"><img src="{{ asset('bundles/pnpn/images/icons/menu-message.png') }}" alt="menu message"></a>
    <a href="{{ path('pn_pn_homepage') }}" title="Page d'accueil">
        <div class="logo">
            <h2 style="    text-align: right;">Parent</h2>
            <img src="{{ asset('bundles/pnpn/images/illus/logo.jpg') }}" alt="logo" height="80px" style="border: dashed lightgrey 1px;">
            <h2>Nounou</h2>
        </div>
    </a>
</div>


<div class="modal fade" id="account_management" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 id="register">Gestion du compte</h3>
            </div>
            <div class="modal-body">
                {{ render(controller("PnPnBundle:Default:ChangePassword")) }}
            </div>
        </div>
    </div>
</div>