

<div class="row wrap connected">
    <a href="{{ path('pn_pn_homepage') }}" title="Page d'accueil" class="btn left round" style="margin-left: 0"><img src="{{ asset('bundles/pnpn/images/icons/white-home.png') }}" alt="menu tab" style="margin-top: 4px; margin-left: -1px;"></a>
    {% if app.user.type == 'parent' %}
        <a href="{{ path('myprofile_edit') }}" title="Mon annonce" class="btn left round"><img src="{{ asset('bundles/pnpn/images/icons/menu-profile.png') }}" alt="menu profile"></a>
    {% else %}
        <a href="{{ path('myprofile_edit') }}" title="Mon profil" class="btn left round"><img src="{{ asset('bundles/pnpn/images/icons/menu-profile.png') }}" alt="menu profile"></a>
    {% endif %}
    <a href="" title="Espace Formation - prochainement disponible" class="btn left round disable"><img src="{{ asset('bundles/pnpn/images/icons/menu-formations.png') }}" alt="menu formations"></a>
    <a href="{{ path('logout') }}" title="Déconnexion" class="btn right round"><img src="{{ asset('bundles/pnpn/images/icons/menu-signout.png') }}" alt="menu signout"></a>
    <a href="#account_management" title="Gestion du compte" role="button" class="btn right round" data-toggle="modal"><img src="{{ asset('bundles/pnpn/images/icons/menu-account.png') }}" alt="menu account"></a>
    <a href="{{ path('message') }}" title="Messages" class="btn right round"><img src="{{ asset('bundles/pnpn/images/icons/menu-message.png') }}" alt="menu message"></a>
    <a href="{{ path('pn_pn_homepage') }}" title="Page d'accueil">
        <div class="logo">
            <h2 style="text-align: right; margin-left: 53px;">Parent</h2>
            <h2 style="margin-left: 121px;">Nounou</h2>
        </div>
        <div class="circle">
            <img src="{{ asset('bundles/pnpn/images/illus/logo.png') }}" alt="logo" height="80px" style="border: dashed lightgrey 1px; border-radius: 40px;">
        </div>
    </a>
</div>


<div class="modal fade" id="account_management" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog small">
        <div class="modal-content">
            <div class="modal-header bg-red small">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <img src="{{ asset('bundles/pnpn/images/icons/croix.png') }}">
                </button>
                <h3>Gestion du compte</h3>
            </div>
            <div class="modal-body">
                {{ render(controller("PnPnBundle:Security:ChangePassword")) }}
            </div>
        </div>
    </div>
</div>