<div class="row wrap">
    <a href="#register" role="button" class="btn col-md-2 bg-blue left" data-toggle="modal">Inscription</a>
    <a href="#login" role="button" class="btn col-md-2 bg-purple right" data-toggle="modal">Connexion</a>
    <a href="{{ path('pn_pn_homepage') }}">
        <div class="logo">
            <h2 style="    text-align: right;">Parent</h2>
            <img src="{{ asset('bundles/pnpn/images/illus/logo.jpg') }}" alt="logo" height="80px" style="border: dashed lightgrey 1px;">
            <h2>Nounou</h2>
        </div>
    </a>
</div>


<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-blue white">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 id="register">Inscription</h3>
            </div>
            <div class="modal-body">
                <div id="registerErrors"></div>

                <form id="registerForm" action="{{ path('register') }}" method="post" {{ form_enctype(register_form) }}>

                    {{ form_errors(register_form.type) }}
                    {{ form_widget(register_form.type) }}

                    <div class="info">
                        <p>L\'inscription pour les parents coute 9€50 payable en une fois, valable à vie.</p>
                    </div>

                    {{ form_errors(register_form.firstname) }}
                    {{ form_widget(register_form.firstname) }}

                    {{ form_errors(register_form.lastname) }}
                    {{ form_widget(register_form.lastname) }}

                    {{ form_errors(register_form.email) }}
                    {{ form_widget(register_form.email) }}

                    {{ form_errors(register_form.rawPassword.first) }}
                    {{ form_widget(register_form.rawPassword.first) }}

                    {{ form_errors(register_form.rawPassword.second) }}
                    {{ form_widget(register_form.rawPassword.second) }}

                    {{ form_errors(register_form.babysitter) }}
                    {{ form_widget(register_form.babysitter) }}


                    {{ form_rest(register_form) }}

                    <button type="submit">Inscription</button>


                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 id="myModalLabel">Connexion</h3>
            </div>
            <div class="modal-body">
                <form id="form-login" action="{{ path('login_check') }}" method="post">
                    <input type="text" id="username" name="_username" placeholder="E-mail"/>

                    <input type="password" id="password" name="_password" placeholder="Mot de passe"/>

                    <input type="checkbox" id="remember_me" name="remember_me" checked>
                    <label for="remember_me">Garder ma session active</label>

                    <button type="submit" class="sf-button">Connexion</button>
                    <a href="" id="mdp_oublie">mot de passe oublié ?</a>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    #pn_pnbundle_user_type_0
    {
        margin-right: 9px;
    }
    #pn_pnbundle_user_type_1
    {
        margin-left: 15px;
        margin-right: 9px;
    }

    #pn_pnbundle_user_babysitter
    {
        display: none;
    }
    select#pn_pnbundle_user_babysitter_category
    {
        width: 100%;
        height: 34px;
    }
</style>

