<div class="row wrap">
    <a href="#register" role="button" class="btn col-md-2 bg-blue left" data-toggle="modal">Inscription</a>
    <a href="#login" role="button" class="btn col-md-2 bg-purple right" data-toggle="modal">Connexion</a>
    <a href="{{ path('pn_pn_homepage') }}" title="Page d'accueil">
        <div class="logo">
            <h2 style="text-align: right; margin-left: 53px;">Parent</h2>
            <h2 style="margin-left: 120px;">Nounou</h2>
        </div>
        <div class="circle">
            <img src="{{ asset('bundles/pnpn/images/illus/logo.png') }}" alt="logo" height="80px" style="border: dashed lightgrey 1px; border-radius: 40px;">
        </div>
    </a>
</div>


<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog small">
        <div class="modal-content">
            <div class="modal-header bg-blue small">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <img src="{{ asset('bundles/pnpn/images/icons/croix.png') }}">
                </button>
                <h3 id="register">Inscription</h3>
            </div>
            <div class="modal-body">
                {{ render(controller("ApplicationSonataUserBundle:RegistrationFOSUser1:Register")) }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog small">
        <div class="modal-content">

            <div class="modal-header bg-purple small">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <img src="{{ asset('bundles/pnpn/images/icons/croix.png') }}">
                </button>
                <h3 id="myModalLabel">Connexion</h3>
            </div>
            <div class="modal-body">
                <form id="form-login" action="{{ path('login_check') }}" method="post">
                    <div class="alert alert-danger" id="loginErrors" style="display: none;"></div>
                    <div class="alert alert-success" id="loginSuccess" style="display: none;"></div>

                    <input type="text" id="username" name="_username" placeholder="E-mail"/>

                    <input type="password" id="password" name="_password" placeholder="Mot de passe"/>

                    <input type="checkbox" id="remember_me" name="remember_me" checked>
                    <label for="remember_me">Garder ma session active</label>

                    <button type="submit" class="sf-button">Connexion</button>
                    <a href="" id="mdp_oublie">mot de passe oublié ?</a>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    #application_sonata_user_registration_type_0
    {
        margin-right: 9px;
    }
    #application_sonata_user_registration_type_1
    {
        margin-left: 15px;
        margin-right: 9px;
    }

    #pn_pnbundle_user_babysitter
    {
        display: none;
    }
    select#application_sonata_user_registration_secondType
    {
        width: 100%;
        height: 34px;
    }
</style>

