
<form id="registerForm" action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.type) }}
    {{ form_widget(form.type) }}

    <div class="info">
        <p>L\'inscription pour les parents coute 9€50 payable en une fois, valable à vie.</p>
    </div>

    {{ form_errors(form.firstname) }}
    {{ form_widget(form.firstname) }}

    {{ form_errors(form.lastname) }}
    {{ form_widget(form.lastname) }}

    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}

    {{ form_errors(form.rawPassword.first) }}
    {{ form_widget(form.rawPassword.first) }}

    {{ form_errors(form.rawPassword.second) }}
    {{ form_widget(form.rawPassword.second) }}

    {{ form_errors(form.babysitter) }}
    {{ form_widget(form.babysitter) }}


    {{ form_rest(form) }}

    <button type="submit">Inscription</button>
    <div></div>


</form>