<div class="alert alert-success" id="registerSuccess" style="display: none;"></div>
<div class="alert alert-danger" id="registerErrors" style="display: none;"></div>


<form id="registerForm" action="{{ path('register') }}" method="post" {{ form_enctype(register_form) }}>

    {{ form_errors(register_form.type) }}
    {{ form_widget(register_form.type) }}

    <div class="info">
        <p>L'inscription est gratuite pendant la phase test du site. </p>
    </div>

    {{ form_errors(register_form.firstname) }}
    {{ form_widget(register_form.firstname) }}

    {{ form_errors(register_form.lastname) }}
    {{ form_widget(register_form.lastname) }}

    {{ form_errors(register_form.email) }}
    {{ form_widget(register_form.email) }}

    {{ form_errors(register_form.rawPassword.first) }}
    {{ form_widget(register_form.rawPassword.first) }}

    {{ form_errors(register_form.rawPassword.second) }}
    {{ form_widget(register_form.rawPassword.second) }}

    {{ form_errors(register_form.secondType) }}
    {{ form_widget(register_form.secondType) }}


    {{ form_rest(register_form) }}

    <button type="submit">Inscription</button>


</form>