{# src/Application/Sonata/NewsBundle/Resources/views/Article/view.html.twig #}


{% extends "PnPnBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pnblog/css/style.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <div class="blog wrap">
        <div class="header clearfix">
            <div class="left">
                {% thumbnail post.collection.media, 'small' %}
                <h1>{{ post.title }}</h1>
            </div>
            {#<div class="right">
                <a href="" class="btn bg-red white">
                    <img src="{{ asset('bundles/pnpn/images/icons/menu-formations.png') }}" alt="test">
                    passe le test
                </a>
            </div>#}
        </div>
        <div class="sonata-blog-post-content">
            {% media post.image, 'wide' %}
            {{ post.content|raw }}
        </div>
        </div>

        <div class="banner bg-red big-wrap">
            <div class="wrap">
                <h4>Commentaires</h4>
            </div>
        </div>

    <div class="comments wrap">
        {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}

        {% if post.iscommentable %}
            {% render(controller('SonataNewsBundle:Post:addCommentForm', {
            'postId': post.id,
            'form': form
            })) %}
        {% else %}
            <div>
                {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
            </div>
        {% endif %}
    </div>



{% endblock %}