{# src/Application/Sonata/NewsBundle/Resources/views/Article/view.html.twig #}


{% extends "PnPnBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pnblog/css/style.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <div class="blog wrap">
        <div class="header clearfix">
            <div class="left">
                {% thumbnail post.collection.media, 'small' with {'class': 'icon'} %}
                <h1>{{ post.title }}</h1>
            </div>
            {#<div class="right">
                <a href="" class="btn bg-red white">
                    <img src="{{ asset('bundles/pnpn/images/icons/menu-formations.png') }}" alt="test">
                    passe le test
                </a>
            </div>#}
        </div>
        <div class="sonata-blog-post-content">
            {% media post.image, 'wide' %}
            {{ post.content|raw }}

            {# Signature google+ #}
            {% if post.author.gplusUid %}
                <!-- Placez cette balise où vous souhaitez faire apparaître le gadget widget. -->
                <div class="g-person" data-href="{{ post.author.gplusUid }}" data-layout="landscape" data-rel="author"></div>

                <!-- Placez cette ballise après la dernière balise widget. -->
                <script type="text/javascript">
                    window.___gcfg = {lang: 'fr'};

                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>
            {% endif %}
        </div>
    </div>

    <div class="banner bg-red big-wrap">
        <div class="wrap">
            <h4>Commentaires</h4>
        </div>
    </div>

    <div class="comments wrap">
        {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}

        {% if post.iscommentable %}
            {% if app.user %}
                {% render(controller('SonataNewsBundle:Post:addCommentForm', {
                'postId': post.id,
                'form': form
                })) %}
            {% else %}
                <a href="#login" role="button" class="btn bg-yellow" data-toggle="modal" style="width: 100%; margin-bottom: 30px;">Connectez-vous pour laisser un commentaire</a>
            {% endif %}
        {% else %}
            <div>
                {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
            </div>
        {% endif %}
    </div>



{% endblock %}