<script type="text/javascript">
/**
 * Created by romain on 27/03/14.
 */

// Envoi de formulaire en AJAX
function postForm( $form, callback1, callback2 ){

    /*
     * Get all form values
     */
    var values = {};
    $.each( $form.serializeArray(), function(i, field) {
        values[field.name] = field.value;
    });

    /*
     * Throw the form values to the server!
     */
    $.ajax({
        type        : $form.attr( 'method' ),
        url         : $form.attr( 'action' ),
        data        : values,
        success     : function(data) {
            callback1( data );
        },
        error     : function(data) {
            callback2( data );
        }
    });

}

$(function() {

    // Calendar submit
    $(".calendarForm").submit(function(e){
        e.preventDefault();
        var form = this;
        var calendar = '[(';
        $('.calendar button').each(function(index){
            if (index%7 == 0 && index != 0) calendar += ')(';
            if ($(this).css('background-color') == 'rgb(255, 255, 255)')
            {
                calendar += '0';
            }
            else
            {
                calendar += '1';
            }
        });
        calendar += ')]';
        //$('#pn_pnbundle_job_calendar').val(calendar);
        $('#pn_pnbundle_babysitter_calendar').val(calendar);

        form.submit(); // submit bypassing the jQuery bound event
    });

    // Gestion du formulaire d'inscription
    $('#registerForm input').on('change', function() {
        if ($('form input[type=radio]:checked').val() == 'parent')
        {
            $('#registerForm .info p').html('L\'inscription est gratuite pendant la phase test du site.');
            $('#pn_pnbundle_user_secondType').css('display','none');
        }
        if ($('form input[type=radio]:checked').val() == 'nounou')
        {
            $('#registerForm .info p').html('L\'inscription est complètement gratuite pour les nounous.');
            $('#pn_pnbundle_user_secondType').css('display','block');
        }
    });


    // Menu de la page recommandations
    $('#btn-received').click(function(){
        $('#btn-given').removeClass('selected');
        $('#btn-newRecommend').removeClass('selected');
        $(this).addClass('selected');
    })
    $('#btn-given').click(function(){
        $('#btn-received').removeClass('selected');
        $('#btn-newRecommend').removeClass('selected');
        $(this).addClass('selected');
    })
    $('#btn-newRecommend').click(function(){
        $('#btn-given').removeClass('selected');
        $('#btn-received').removeClass('selected');
        $(this).addClass('selected');
    });

    // Inscription AJAX
    $( '#registerForm' ).submit( function( e ){
        e.preventDefault();
        $( '#registerForm button[type="submit"]').after('<img src="{{ asset('bundles/pnpn/images/icons/ajax-loader.gif') }}" alt="ajax-loader" id="ajax-loader">');
        $('#registerErrors').css('display','none');
        $('#registerSuccess').css('display','none');

        postForm(
                $(this),
                function( response ){
                    if (response.success)
                    {
                        location.reload();
                    }
                    else
                    {
                        $('#registerErrors').html(response.cause).css('display','block');

                        /*else
                         {
                         var errorsArr = $.parseJSON(response.cause);
                         var errorsStr = '';
                         for(var k in errorsArr) {
                         for(var l in errorsArr[k]) {
                         if (typeof errorsArr[k][l] == Array)
                         {
                         errorsStr += errorsArr[k][l][0];
                         }
                         else
                         {
                         errorsStr += errorsArr[k][l];
                         }
                         }
                         }
                         if (errorsStr == '')
                         {
                         errorsStr = 'Erreur inconnue';
                         }
                         $('#registerErrors').html(errorsStr).css('display','block');
                         }*/
                    }
                    $('#ajax-loader').remove();
                },
                function(error){
                    $('#registerErrors').html(error.statusText).css('display','block');
                    $('#ajax-loader').remove();
                }
        );

        return false;
    });

    // Login and reset password AJAX
    $('#form-login').submit(function (e) {
        e.preventDefault();

        var $this = $(e.currentTarget),
                inputs = {};

        // Send all form's inputs
        $.each($this.find('input'), function (i, item) {
            var $item = $(item);
            inputs[$item.attr('name')] = $item.val();
        });

        // Send form into ajax
        $.ajax({
            url: $this.attr('action'),
            type: 'POST',
            dataType: 'json',
            data: inputs,
            success: function (data) {
                if (data.has_error) {
                    // Insert your error process
                    $('#loginErrors').html(data.error).css('display','block');
                }
                else {
                    // Insert your success process
                    window.location.reload();
                }
            },
            error: function(error){
                $('#loginErrors').html(error.statusText).css('display','block');
            }
        });
    });

    // mot de passe oublié
    $('a#mdp_oublie').click( function(e){
        e.preventDefault();
        $('form#form-login').attr('action','{{ path('reset_password') }}');
        $('#password').css('display','none');
        $('#remember_me').css('display','none');
        $('form#form-login label').css('display','none');
        $('#mdp_oublie').css('display','none');
        $('#username').before('<p>Entrez votre email pour recevoir un nouveau mot de passe</p>')
        $('form#form-login button[type="submit"]').css('width','100%').html('Recevoir un nouveau mot de passe')
    })

    // Gestion du compte
    $( '#changePasswordForm' ).submit( function( e ){

        e.preventDefault();
        $( '#changePasswordForm button[type="submit"]').after('<img src="{{ asset('bundles/pnpn/images/icons/ajax-loader.gif') }}" alt="ajax-loader" id="ajax-loader">');
        $('#changePasswordErrors').css('display','none');
        $('#changePasswordSuccess').css('display','none');

        var options = {
            //target:   '#videoOutput',   // target element(s) to be updated with server response
            beforeSubmit:  function(){
                if ($('#change_password_newPassword_first').val() != $('#change_password_newPassword_second').val())
                {
                    $('#changePasswordErrors').html('Le nouveau mot de passe et la confirmation ne correspondent pas.').css('display','block');
                    $('#ajax-loader').remove();
                    return false;
                }
                if ($('#change_password_oldPassword').val().length < 6)
                {
                    $('#changePasswordErrors').html('Un mot de passe doit contenir au moins 6 caractères').css('display','block');
                    $('#ajax-loader').remove();
                    return false;
                }
                if ($('#change_password_newPassword_first').val().length < 6)
                {
                    $('#changePasswordErrors').html('Le nouveau mot de passe doit contenir au moins 6 caractères').css('display','block');
                    $('#ajax-loader').remove();
                    return false;
                }
            },  // pre-submit callback
            success: function( response ){
                if (response.success)
                {
                    $('#changePasswordSuccess').html("Votre nouveau mot de passe est activé").css('display','block');
                    $('#changePasswordForm input').hide();
                    $('#changePasswordForm button').click(function(e){
                        e.preventDefault();
                        window.location.reload();
                    });
                }
                else
                {
                    $('#changePasswordErrors').html(response.cause).css('display','block');
                }
                $('#ajax-loader').remove();
            },
            error: function(error){
                $('#changePasswordErrors').html(error).css('display','block');
                $('#ajax-loader').remove();
            },
            resetForm: true        // reset the form after successful submit
        };
        $('#changePasswordForm').ajaxSubmit(options);

        return false;
    });

    // Envoi d'une recommandation
    {% if app.user %}
    $('form#new_recommendation').submit(function(e){
        e.preventDefault();

        $('form#new_recommendation textarea').css('background','url("{{ asset('bundles/pnpn/images/icons/ajax-loader.gif') }}") no-repeat right white');
        $('form#new_recommendation input[type="submit"]').attr('disabled', true);

        var options = {
            success: function(response){
                $('#new_recommendation').after('' +
                        '<div class="recommandation">' +
                        {% if app.user.avatar %}
                        '   <img src="{{ asset('uploads/users/' ~ app.user.avatar) }}" alt="photo de profil de {{ app.user.firstname }}" style="height: 90px;">' +
                        {% else %}
                        {% if app.user.type == 'parent' %}
                        '   <img src="{{ asset('bundles/pnpn/images/illus/logo.png') }}" alt="nounou" style="height: 90px; width: 86px;">' +
                        {% else %}
                        '   <img src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="nounou" style="height: 90px;">' +
                        {% endif %}
                        {% endif %}
                        '   <img class="left-arrow" src="{{ asset('bundles/pnpn/images/icons/left-arrow.png') }}" alt="left-arrow">' +
                        '   <div class="bulle">' +
                        '       <p>' + response.message + '</p>' +
                        '       <span class="red">{{ app.user.hiddenName }}</span> {{ app.user.type }}. Posté le {{ "now"|date("d-m-Y") }}' +
                        '   </div>' +
                        '</div>'
                );
                $('form#new_recommendation textarea').css('background','white');
                $('form#new_recommendation input[type="submit"]').attr('disabled', false);
            },
            error: function(error){
                console.error(error);
            },
            resetForm: true
        };
        $(this).ajaxSubmit(options);
    })
    {% endif %}

    // Envoi du formulaire de contact
    $( '#contactForm' ).submit( function( e ){
        e.preventDefault();

        postForm(
                $(this),
                function( response ){
                    if (response.success)
                    {
                        $( "#contact button.close" ).trigger( "click" );
                    }
                    else
                    {
                        $('#contactErrors').html(response.cause)
                    }
                },
                function(error){
                    $('#contactErrors').html(error)
                }
        );

        return false;
    });

})
</script>