{# src/Pn/PnBundle/Resources/views/Message/index.html.twig #}


{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Messagerie{% endblock %}

{% block body %}
<div class="wrap">
    <div class="message-topMenu clearfix">
        <div class="right">
            <a href="" class="btn bg-yellow white">Rédiger un message</a>
        </div>
        <div class="left">
            <span style="color: #BBBBBB;">Vos conversations</span>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="row">
        <div class="message-leftMenu col-md-3">
            {% for key,conversation in conversations %}
            <div id="{{ key }}" class="btn {% if loop.first %}selected{% endif %} clearfix">
                <div class="right">
                    {% if conversation.unread != 0 %}
                        <div class="unread bg-red white round">{{ conversation.unread }}</div>
                    {% endif %}
                    <button class="delete bg-red round">
                        <img src="{{ asset('bundles/pnpn/images/icon/bin.png') }}" alt="corbeille">
                    </button>
                </div>
                <div class="left">
                    {{ conversation.object.fullname }}
                </div>
            </div>
            {% endfor %}
        </div>

        {% for key,conversation in conversations %}
            <div class="conversation {% if loop.first %}selected{% endif %} col-md-9" id="{{ key }}">
                {% for message in conversation.messages %}
                    {% if message.receiver == app.user %}
                        <div class="message from">
                            {% if message.sender.avatar %}
                                <img class="profile-picture" src="{{ asset('uploads/users/' ~ message.sender.avatar) }}" alt="photo de profil de {{ message.sender.firstname }}" style="height: 120px;">
                            {% else %}
                                <img src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="nounou" style="height: 90px;">
                            {% endif %}
                            <img class="arrow" src="{{ asset('bundles/pnpn/images/icons/left-arrow.png') }}" alt="left-arrow">
                            <div class="bulle">
                                <p>{{ message.body }}</p>
                                Le {{ message.createdAt|date("d/m/Y \\à H\\hi") }}
                            </div>
                        </div>
                    {% else %}
                        <div class="message to">
                            <div class="bulle">
                                <p>{{ message.body }}</p>
                                Le {{ message.createdAt|date("d/m/Y \\à H\\hi") }}
                            </div>
                            <img class="arrow" src="{{ asset('bundles/pnpn/images/icons/right-arrow.png') }}" alt="right-arrow">
                            <img src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="nounou" style="height: 90px;">
                        </div>
                    {% endif %}
                {% endfor %}
                <form action="{{ path('message_send',{ 'to':conversation.object.id }) }}" method="post" id="{{ key }}" {{ form_enctype(conversation.form) }}>
                    {{ form_errors(conversation.form.body) }}
                    {{ form_widget(conversation.form.body, { 'attr': {'placeholder': 'Envoyer un message à ' ~ conversation.object.firstname } }) }}

                    {{ form_rest(conversation.form) }}
                    <input type="submit" value="Envoyer">
                </form>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}


























{#
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Message list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Body</th>
                <th>Created_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.body }}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('message_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('message_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
#}
