{# src/Pn/PnBundle/Resources/views/Dashboard/layout.html.twig #}


{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}Mon espace perso │ {{ parent() }}{% endblock %}

{% block body %}
    <div class="wrap">
        <div class="dashboard menu clearfix">
            {% if app.user.type == 'parent' %}
                <div class="right">
                    {% if app.request.requestUri == path('pn_dashboard_recommendations') %}
                        <a href="" style="color: #BBBBBB;">Recommandations</a>
                    {% else %}
                        <a href="{{ path('pn_dashboard_recommendations') }}">Recommandations</a>
                    {% endif %}
                    {#{% if app.request.requestUri == path('pn_dashboard_paiements') %}
                        <a href="" style="color: #BBBBBB;">Mes paiements</a>
                    {% else %}
                        <a href="{{ path('pn_dashboard_paiements') }}">Mes paiements</a>
                    {% endif %}#}
                </div>
                <div class="left">
                    {% if app.request.requestUri == path('pn_dashboard') %}
                        <a href="" style="color: #BBBBBB;">Annonces</a>
                    {% else %}
                        <a href="{{ path('pn_dashboard') }}">Annonces</a>
                    {% endif %}
                </div>
            {% else %}
                <div class="right">
                    {% if app.request.requestUri == path('pn_dashboard_recommendations') %}
                        <a href="" style="color: #BBBBBB;">Recommandations</a>
                    {% else %}
                        <a href="{{ path('pn_dashboard_recommendations') }}">Recommandations</a>
                    {% endif %}
                    {#{% if app.request.requestUri == path('pn_dashboard_revenus') %}
                        <a href="" style="color: #BBBBBB;">Mes revenus</a>
                    {% else %}
                        <a href="{{ path('pn_dashboard_revenus') }}">Mes revenus</a>
                    {% endif %}#}
                </div>
                <div class="left">
                    {% if app.request.requestUri == path('pn_dashboard') %}
                        <a href="" style="color: #BBBBBB;">Annonces</a>
                    {% else %}
                        <a href="{{ path('pn_dashboard') }}">Annonces</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% block dashbody %}
    {% endblock %}

{% endblock %}