{# src/Pn/PnBundle/Resources/views/Babysitter/edit.html.twig #}

{% import "PnPnBundle::calendar.html.twig" as calendar %}
{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block body %}
    <div class="profile-page babysitter wrap">

        <form class="calendarForm" id="editBabysitterForm" action="{{ path('babysitter_edit', {'id': id}) }}" method="post" {{ form_enctype(form) }}>

            <div id="map" style="height: 180px;">
                Veuillez patienter pendant le chargement de la carte...
            </div>


            <div class="description">
                <div class="header">
                    <div class="left">
                        {% if entity.avatar %}
                            <img class="profile-picture" src="{{ asset('uploads/babysitters/' ~ entity.avatar) }}" alt="photo de profil de {{ entity.user.firstname }}" style="height: 120px;">
                        {% else %}
                            <img class="profile-picture" src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="photo de profil" style="height: 120px;">
                        {% endif %}
                        {{ form_row(form.file) }}
                    </div>
                    <div class="right">
                        <div class="tarif">{{ form_errors(form.rate_price) }}{{ form_widget(form.rate_price) }}€ / {{ form_errors(form.rate_type) }}{{ form_widget(form.rate_type) }}</div>
                    </div>
                    {{ form_errors(form.user.firstname) }}
                    {{ form_widget(form.user.firstname) }}
                    {{ form_errors(form.user.lastname) }}
                    {{ form_widget(form.user.lastname) }}
                </div>
                <div class="body">
                    {{ form_errors(form.presentation) }}
                    {{ form_widget(form.presentation) }}
                </div>
            </div>

            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-4">
                    <div class="coords">
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-phone.png') }}" alt="telephone">&nbsp;{{ form_widget(form.user.phone) }}&nbsp;<br>
                    </div>
                    <div class="details">
                        <img src="{{ asset('bundles/pnpn/images/icons/marker.png') }}" alt="telephone"> Paris, 14e <br>
                        <img src="{{ asset('bundles/pnpn/images/icons/sablier.png') }}" alt="telephone"> 20 ans <br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-experience.png') }}" alt="telephone"> {{ form_widget(form.experience) }} ans d'expérience <br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-certifications.png') }}" alt="telephone"> Agrément assistante maternelle <br>
                        Brevet d'aptitude aux fonctions d'animateur <br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-age.png') }}" alt="telephone"> Prise en charge des enfants de 0 à 1 an, 1 à 3 ans, 4 à 6 ans <br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-languages.png') }}" alt="telephone"> Français, Italien <br>
                    </div>
                </div>
                <div class="col-md-4 calendar">
                    {{ calendar.editTable(calendarMatrix) }}
                </div>
                <div class="col-md-4">
                    {% if entity.video %}
                        <div class="pres-video">
                            <p>video</p>
                        </div>
                    {% endif %}
                    <div class="other">
                        <b>Mes activités préférées avec les enfants :</b>
                        {{ form_widget(form.favoriteactivities) }} <br>

                        <b>Mes loisirs :</b> <br>
                        {{ form_widget(form.hobbies) }} <br>

                        <b>Tâches supplémentaire :</b>
                        {{ form_widget(form.anythingelse) }} <br>

                        <b>Les petits plus :</b>
                        {{ form_errors(form.petitsplus) }}
                        {{ form_widget(form.petitsplus) }} <br>

                        <b>Particularités :</b>
                        {{ form_errors(form.particularite) }}
                        {{ form_widget(form.particularite) }} <br>
                    </div>
                </div>
            </div>

            {{ form_rest(form) }}

            <input type="submit" value="Enregistrer">

        </form>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var geocoder;
        var carte;
        var marqueur;

        function init_map() {
            geocoder = new google.maps.Geocoder();
            {% if entity.user.latitude and entity.user.longitude %}
            var latlng = new google.maps.LatLng({{ entity.user.latitude }}, {{ entity.user.longitude }});
            {% else %}
            var latlng = new google.maps.LatLng(48.8575162,	2.3426246);
            {% endif %}
            // paris : 48.8575162	2.3426246
            //objet contenant des propriétés avec des identificateurs prédéfinis dans Google Maps permettant
            //de définir des options d'affichage de notre carte
            var options = {
                center: latlng,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

//constructeur de la carte qui prend en paramêtre le conteneur HTML
//dans lequel la carte doit s'afficher et les options
            carte = new google.maps.Map(document.getElementById("map"), options);



//création du marqueur
            marqueur = new google.maps.Marker({
                {% if entity.user.latitude and entity.user.longitude %}
                position: new google.maps.LatLng({{ entity.user.latitude }}, {{ entity.user.longitude }}),
                {% else %}
                position: new google.maps.LatLng(48.8567,2.3508),
                {% endif %}
                draggable:true,
                map: carte
            });

            google.maps.event.addListener(marqueur, 'dragend', function(event) {
                carte.setCenter(marqueur.getPosition());
                setAddressFromMap(marqueur.getPosition());
            });

            google.maps.event.addListener(carte, 'dragend', function() {
                marqueur.setPosition(carte.getCenter());
                setAddressFromMap(carte.getCenter());
            });

            google.maps.event.addListener(carte, 'zoom_changed', function() {
                marqueur.setPosition(carte.getCenter());
                setAddressFromMap(carte.getCenter());
            });
        }


        init_map();
        $('#map').animate({marginTop: "0",opacity: 'show'}, 700, function() {init_map();});


        function setAddressFromText() {
            var address = document.getElementById('pn_pnbundle_babysitter_user_address').value;
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    carte.setCenter(results[0].geometry.location);
                    carte.setZoom(19);
                    marqueur.setPosition(results[0].geometry.location);
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }


        function setAddressFromMap(latlng) {
            geocoder.geocode({'latLng': latlng}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                        document.getElementById('pn_pnbundle_babysitter_user_address').value = results[1].formatted_address;
                    } else {
                        document.getElementById('pn_pnbundle_babysitter_user_address').value = 'Pas d\'adresse trouvée';
                    }
                } else {
                    document.getElementById('pn_pnbundle_babysitter_user_address').value = status;
                }
                document.getElementById('pn_pnbundle_babysitter_user_latitude').value = latlng.lat();
                document.getElementById('pn_pnbundle_babysitter_user_longitude').value = latlng.lng();
            });
        }
    </script>
{% endblock %}

















{#
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Babysitter edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('babysitter') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}#}
