{# src/Pn/PnBundle/Resources/views/Babysitter/index.html.twig #}

{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Annonces{% endblock %}

{% block body %}
    <div class="maptool wrap">
        <div id="map">
            Veuillez patienter pendant le chargement de la carte...
        </div>
        <div class="searchForm">
            <form action="{{ path('pn_search') }}" method="post">
                <select class="btn" name="select">
                    <option value="nounou">Je cherche une nounou</option>
                    <option value="job">Je cherche un job</option>
                </select>
                <input name="field" class="search" type="search" autocomplete="true" placeholder="Indiquez votre ville ou votre code postal">
                <input type="submit" value="chercher" class="btn bg-yellow submit">
            </form>
        </div>
    </div>

    <div class="wrap">
        <aside>

            <div class="panel-group" id="accordion">
                <div class="panel" style="border-top: none;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Disponibilités
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            A développer
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Catégorie de nounou
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <input type="checkbox" name="babysitter">Baby sitter<br>
                            <input type="checkbox" name="assistanteMaternelle">Assistante maternelle<br>
                            <input type="checkbox" name="animatrice">Animatrice<br>
                            <input type="checkbox" name="nounou">Nounou à domicile<br>
                            <input type="checkbox" name="filleaupair">Jeune fille au pair<br>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Expérience exigée
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Ages pris en charge
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                Langues parlées
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                Particularités
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                Petits plus
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
                                Taches supplémentaires
                            </a>
                        </h4>
                    </div>
                    <div id="collapseHeight" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
            </div>

            <div id="mini-map" style="height: 160px">
                Veuillez patienter pendant le chargement de la carte...
            </div>

            <a href="" class="btn bg-yellow white">Vous aussi publiez votre annonce !</a>

        </aside>

        <div class="profiles">
            {% for entity in entities %}
                <a href="{{ path('babysitter_show', {'id': entity.id}) }}">
                    <div class="profile">
                        <div class="header">
                            {% if entity.avatar %}
                                <img class="photo" src="{{ asset('uploads/babysitters/' ~ entity.avatar) }}" alt="photo de profil de {{ entity.user.firstname }}" style="height: 120px;">
                            {% else %}
                                <img src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="{{ entity.user.hiddenName }}" class="photo" style="height: 120px;">
                            {% endif %}
                            <p class="tarif">{{ entity.ratePrice }}€ / {{ entity.rateType }}</p>
                            <strong>{{ entity.user.hiddenName() }}&nbsp;</strong>
                            <span class="balloon"></span>
                            <span class="balloon"></span>
                            <span class="balloon"></span>
                        </div>
                        <div class="body">
                            <p>
                                {{ entity.shortPresentation(85)|raw }}<br>
                                <strong>
                                    <img src="{{ asset('bundles/pnpn/images/icons/profil-badge.png') }}" alt="badge"> 5 Badges&nbsp;&nbsp;
                                    <img src="{{ asset('bundles/pnpn/images/icons/profil-experience.png') }}" alt="experience"> {{ entity.experience }} ans&nbsp;&nbsp;
                                    <img src="{{ asset('bundles/pnpn/images/icons/profil-languages.png') }}" alt="laguages"> Français, Italien, Espagnol
                                </strong>
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        var latlng = new google.maps.LatLng(48.8575162, 2.3426246);
        // paris : 48.8575162	2.3426246
        //objet contenant des propriétés avec des identificateurs prédéfinis dans Google Maps permettant
        //de définir des options d'affichage de notre carte
        var options = {
            center: latlng,
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        //constructeur de la carte qui prend en paramêtre le conteneur HTML
        //dans lequel la carte doit s'afficher et les options
        var map = new google.maps.Map(document.getElementById("map"), options);
        var minimap = new google.maps.Map(document.getElementById("mini-map"), options);

        //Positionnement des nounou
        {% for entity in entities %}
        {% if entity.user.latitude and entity.user.longitude %}
        var nounou_position{{ loop.index }} = new google.maps.LatLng({{ entity.user.latitude }},{{ entity.user.longitude }});
        var nounou_m{{ loop.index }} = new google.maps.Marker({
            position: nounou_position{{ loop.index }},
            map: map
        });
        var nounou_contentm{{ loop.index }} = '' +
                '<a href="{{ path('babysitter_show', {'id': entity.id}) }}">' +
                '   <div class="mini-profile" style="margin-left: 0;">' +
                '       <div class="header">' +
                {% if entity.avatar %}
                '           <img class="profile-picture" src="{{ asset('uploads/babysitters/' ~ entity.avatar) }}" alt="photo de profil de {{ entity.user.firstname }}" style="height: 120px;">' +
                {% else %}
                '           <img class="profile-picture" src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="photo de profil" style="height: 120px;">' +
                {% endif %}
                '           <strong>{{ entity.user.getHiddenName() }}</strong>' +
                '           <p>Paris</p>' +
                '       </div>' +
                '       <div class="body">' +
                '           <p>{{ entity.category }}</p>' +
                '       </div>' +
                '   </div>' +
                '</a>';
        var nounou_info{{ loop.index }} = new google.maps.InfoWindow({
            content  : nounou_contentm{{ loop.index }},
            position : nounou_position{{ loop.index }},
            backgroundColor : 'rgb(134,255.200)'
        });
        google.maps.event.addListener(nounou_m{{ loop.index }}, 'click', function() {
            nounou_info{{ loop.index }}.open(map,nounou_m{{ loop.index }});
        });
        {% endif %}
        {% endfor %}

    </script>
    <script type="text/javascript">

        $(function() {
            $('.profile').hover(
                    function() {
                        $(this).children(".header").css('background-color','#e84355');
                        {% if app.environment == 'dev' %}
                        $(this).children(".header").children(".balloon").css('background-image','url(../../bundles/pnpn/images/icons/balloon-white.png)');
                        {% else %}
                        $(this).children(".header").children(".balloon").css('background-image','url(../bundles/pnpn/images/icons/balloon-white.png)');
                        {% endif %}
                    }
                    , function() {
                        $(this).children(".header").css('background-color','#eeeeee');
                        {% if app.environment == 'dev' %}
                        $(this).children(".header").children(".balloon").css('background-image','url(../../bundles/pnpn/images/icons/balloon-red.png)');
                        {% else %}
                        $(this).children(".header").children(".balloon").css('background-image','url(../bundles/pnpn/images/icons/balloon-red.png)');
                        {% endif %}
                    });
        })

    </script>
{% endblock %}











{#
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Babysitter list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Presentation</th>
                <th>Experience</th>
                <th>Trustpoints</th>
                <th>Anythingelse</th>
                <th>Ageofchildren</th>
                <th>Availabilities</th>
                <th>Favoriteactivities</th>
                <th>Hobbies</th>
                <th>Mychildren</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('babysitter_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.presentation }}</td>
                <td>{{ entity.experience }}</td>
                <td>{{ entity.trustpoints }}</td>
                <td>{{ entity.anythingelse }}</td>
                <td>{{ entity.ageofchildren }}</td>
                <td>{{ entity.availabilities }}</td>
                <td>{{ entity.favoriteactivities }}</td>
                <td>{{ entity.hobbies }}</td>
                <td>{{ entity.mychildren }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('babysitter_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('babysitter_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('babysitter_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
#}
