{# src/Pn/PnBundle/Resources/views/Babysitter/show.html.twig #}

{% import "PnPnBundle::calendar.html.twig" as calendar %}
{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block body %}
    <div class="profile-page babysitter wrap">

        <div id="map" style="height: 180px;">
            Veuillez patienter pendant le chargement de la carte...
        </div>


        <div class="description">
            <div class="header">
                <div class="left">
                    {% if entity.avatar %}
                        <img class="profile-picture" src="{{ asset('uploads/babysitters/' ~ entity.avatar) }}" alt="photo de profil de {{ entity.user.firstname }}" style="height: 120px;">
                    {% else %}
                        <img class="profile-picture" src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="photo de profil" style="height: 120px;">
                    {% endif %}
                    {% if (app.user) and (app.user.type == 'parent') %}
                        <button class="favorite icon bg-yellow white">F</button>
                    {% endif %}
                </div>
                <div class="right">
                    {% if entity.ratePrice %}
                    <div class="tarif">{{ entity.ratePrice }}€ / {{ entity.rateType }}</div>
                    {% endif %}
                    {% if (app.user) and (app.user.type == 'nounou') %}
                        {% if app.user.babysitter.id == id %}
                            <a href="{{ path('myprofile_edit') }}" class="btn bg-yellow engage">edit</a>
                        {% else %}
                            <button class="btn bg-yellow icon">
                                <img src="{{ asset('bundles/pnpn/images/icons/menu-message.png') }}" alt="message icon">
                            </button>
                            {#<button class="btn bg-yellow engage">engager</button>#}
                        {% endif %}
                    {% else %}
                        <button class="btn bg-yellow icon">
                            <img src="{{ asset('bundles/pnpn/images/icons/menu-message.png') }}" alt="message icon">
                        </button>
                    {% endif %}
                </div>
                {% if app.user %}
                    <h1>{{ entity.user.firstname }} {{ entity.user.lastname }}</h1>
                {% else %}
                    <h1>{{ entity.user.getHiddenName() }}</h1>
                {% endif %}
                <span class="balloon"></span>
                <span class="balloon"></span>
                <span class="balloon"></span>
                <span class="trust-points">{{ entity.trustpoints }} points de confiance</span>
            </div>
            <div class="body">
                <p>{{ entity.presentation|raw }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {% if app.user %}
                    <div class="coords">
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-phone.png') }}" alt="telephone">&nbsp;{{ entity.user.phone }}&nbsp;<img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="vérifié"><br>
                    </div>
                {% endif %}
                <div class="details">
                    <img src="{{ asset('bundles/pnpn/images/icons/marker.png') }}" alt="telephone"> Paris, 14e <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="vérifié"><br>
                    <img src="{{ asset('bundles/pnpn/images/icons/sablier.png') }}" alt="telephone"> 20 ans <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="vérifié"><br>
                    <img src="{{ asset('bundles/pnpn/images/icons/profil-experience.png') }}" alt="telephone"> {{ entity.experience }} ans d'expérience <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="vérifié"> <br>
                    <img src="{{ asset('bundles/pnpn/images/icons/profil-certifications.png') }}" alt="telephone"> Agrément assistante maternelle <br>
                    Brevet d'aptitude aux fonctions d'animateur <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="vérifié"> <br>
                    <img src="{{ asset('bundles/pnpn/images/icons/profil-age.png') }}" alt="telephone"> Prise en charge des enfants de 0 à 1 an, 1 à 3 ans, 4 à 6 ans <br>
                    <img src="{{ asset('bundles/pnpn/images/icons/profil-languages.png') }}" alt="telephone"> Français, Italien <br>
                </div>
                <div class="badges">
                    <div class="header">
                        <img src="{{ asset('img/icons/profil-badges.png') }}" alt="badge"> 7 Badges
                    </div>
                    <div class="body">
                        <img class="icon" src="{{ asset('bundles/pnpn/images/icons/badge-check.png') }}" alt="badge check">
                        <img class="icon" src="{{ asset('bundles/pnpn/images/icons/badge-biberon.png') }}" alt="badge biberon">
                        <img class="icon" src="{{ asset('bundles/pnpn/images/icons/badge-pansement.png') }}" alt="badge pansement">
                        <img class="icon" src="{{ asset('bundles/pnpn/images/icons/badge-.png') }}" alt="badge ">
                        <img class="icon" src="{{ asset('bundles/pnpn/images/icons/badge-ballon.png') }}" alt="badge ballon">
                        <img class="icon" src="{{ asset('bundles/pnpn/images/icons/badge-jeu.png') }}" alt="badge jeu">
                        <img class="icon" src="{{ asset('bundles/pnpn/images/icons/badge-couche.png') }}" alt="badge couche">
                        <img class="icon" src="{{ asset('bundles/pnpn/images/icons/badge-blessure.png') }}" alt="badge blessure">
                        <img class="icon" src="{{ asset('bundles/pnpn/images/icons/badge-securite.png') }}" alt="badge securite">
                    </div>
                </div>
            </div>
            <div class="col-md-4 calendar">
                {{ calendar.viewTable(calendarMatrix) }}
            </div>
            <div class="col-md-4">
                {% if entity.video %}
                    <div class="pres-video">
                        <p>video</p>
                    </div>
                {% endif %}
                <div class="other">
                    <b>Mes activités préférées avec les enfants :</b>
                    <p>{{ entity.favoriteactivities }}</p>

                    <b>Mes loisirs :</b>
                    <p>{{ entity.hobbies }}</p>

                    <b>Tâches supplémentaire :</b>
                    <p>{{ entity.anythingelse }}</p>

                    <b>Les petits plus :</b>
                    <p>
                        {% for pp in entity.petitsplus %}
                            - {{ pp }}<br>
                        {% endfor %}
                    </p>

                    <b>Particularités :</b>
                    <p>
                        {% for part in entity.particularite %}
                            - {{ part }}<br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <div class="recommandations">
            <div class="banner bg-red"><h4>Recommandations</h4></div>
            <form action="" method="post">
                <input type="search" placeholder="Ecrivez une recommandation">
                <input type="submit" value="publier">
            </form>
            <div class="recommandation">
                <img src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="nounou" style="height: 90px;">
                <img class="left-arrow" src="{{ asset('bundles/pnpn/images/icon/left-arrow.png') }}" alt="left-arrow">
                <div class="bulle">
                    <p>Sarah est une de mes amies. Nous avons travaillé ensemble dans un centre de loisir l'année derniere. Elle
                        s'occupait des activités artisitiques. Les enfants étaient tres réceptifs à ses conseils et elle n'a jamais eu
                        besoin de gronder qui que ce soit. Nous étions tres impressionnés.</p>
                    <span class="red">Louis D.</span> Baby sitter. Posté le 19 mars 2013
                </div>
            </div>
            <div class="recommandation">
                <img src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="nounou" style="height: 90px;">
                <img class="left-arrow" src="{{ asset('bundles/pnpn/images/icon/left-arrow.png') }}" alt="left-arrow">
                <div class="bulle">
                    <p>Sarah est une fille tres gentille et tres agréable. Les enfants l'adorent et nous aussi.</p>
                    <span class="red">Julie B.</span> Parent. Posté le 20 février 2014
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        {% if entity.user.latitude and entity.user.longitude %}
        var latlng = new google.maps.LatLng({{ entity.user.latitude }}, {{ entity.user.longitude }});
        {% else %}
        var latlng = new google.maps.LatLng(48.8575162,	2.3426246);
        {% endif %}
        // paris : 48.8575162	2.3426246
        //objet contenant des propriétés avec des identificateurs prédéfinis dans Google Maps permettant
        //de définir des options d'affichage de notre carte
        var options = {
            center: latlng,
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        //constructeur de la carte qui prend en paramêtre le conteneur HTML
        //dans lequel la carte doit s'afficher et les options
        var map = new google.maps.Map(document.getElementById("map"), options);

        //création du marqueur
        {% if entity.user.latitude and entity.user.longitude %}
        marqueur = new google.maps.Marker({
            position: new google.maps.LatLng({{ entity.user.latitude }}, {{ entity.user.longitude }}),
            draggable: false,
            map: map
        });
        {% endif %}

    </script>
{% endblock %}








{#
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Babysitter</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ entity.presentation }}</td>
            </tr>
            <tr>
                <th>Hourlyrate</th>
                <td>{{ entity.hourlyrate }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ entity.experience }}</td>
            </tr>
            <tr>
                <th>Trustpoints</th>
                <td>{{ entity.trustpoints }}</td>
            </tr>
            <tr>
                <th>Anythingelse</th>
                <td>{{ entity.anythingelse }}</td>
            </tr>
            <tr>
                <th>Ageofchildren</th>
                <td>{{ entity.ageofchildren }}</td>
            </tr>
            <tr>
                <th>Availabilities</th>
                <td>{{ entity.availabilities }}</td>
            </tr>
            <tr>
                <th>Favoriteactivities</th>
                <td>{{ entity.favoriteactivities }}</td>
            </tr>
            <tr>
                <th>Hobbies</th>
                <td>{{ entity.hobbies }}</td>
            </tr>
            <tr>
                <th>Mychildren</th>
                <td>{{ entity.mychildren }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('babysitter') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('babysitter_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
#}
