{# src/Pn/BlogBundle/Resources/views/Article/index.html.twig #}


{% extends "PnPnBundle::layout.html.twig" %}


{% block body %}

    <div class="wrap moocs">
        <div class="frame">
            <img src="{{ asset('bundles/pnpn/images/illus/formations.jpg') }}" alt="formations">
            <div class="description">
                <img src="{{  asset('bundles/pnpn/images/icons/present-badge.png') }}" alt="badge">
                <strong>
                    Lisez nos articles,<br>
                    Passez des tests,<br>
                    Gagnez des badges !
                </strong>
            </div>
        </div>

        <div class="list row">

            {#<div class="col-md-4">
                <div class="mooc-mini new">
                    <div class="header">
                        <img src="{{ asset('bundles/pnpn/images/icons/alaune.png') }}" alt="a la une">
                        <div class="title">
                            <h5>Filtrez par catégorie</h5>
                        </div>
                    </div>
                    <div class="body">
                        <input type="checkbox">Santé et sécurité<br>
                        <input type="checkbox">Eveil<br>
                        <input type="checkbox">Geste du quotidien<br>
                        <input type="checkbox">Organisation professionnel<br>
                    </div>
                </div>
            </div>#}

            {% for entity in entities %}
                <a href="{{ path('blog_article_show', { 'id': entity.id }) }}">
                    <div class="col-md-4">
                        <div class="mooc-mini new">
                            <div class="header">
                                {% if entity.category %}
                                    <img src="{{ asset('bundles/pnpn/images/badges/' ~ entity.category.icon) }}" alt="a la une">
                                {% endif %}
                                <div class="title">
                                    <h5>{{ entity.title }}</h5>
                                </div>
                            </div>
                            <div class="body">
                                <p>{{ entity.miniPresentation }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>
{% endblock %}



{#<table class="records_list">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Presentation</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('mooc_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.presentation }}</td>
            <td>{{ entity.category }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('mooc_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>#}
