{# src/Pn/CoreBundle/Resources/views/Default/annonces.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Annonces{% endblock %}

{% block body %}
    <div class="maptool wrap">
        <div id="map">
            Veuillez patienter pendant le chargement de la carte...
        </div>
        <div class="searchForm">
            <form action="{{ path('pn_pages_annonces') }}" method="post">
                <select class="btn" name="select">
                    <option value="nounou">Je cherche une nounou</option>
                    <option value="job">Je cherche un job</option>
                </select>
                <input name="field" class="search" type="search" autocomplete="true" placeholder="Indiquez votre ville ou votre code postal">
                <input type="submit" value="chercher" class="btn bg-yellow submit">
            </form>
        </div>
    </div>

    <div class="wrap">
        <aside>
            <div id="mini-map" style="height: 160px">
                Veuillez patienter pendant le chargement de la carte...
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel" style="border-top: none;">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Disponibilités
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            A développer
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Catégorie de nounou
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <input type="checkbox" name="babysitter">Baby sitter<br>
                            <input type="checkbox" name="assistanteMaternelle">Assistante maternelle<br>
                            <input type="checkbox" name="animatrice">Animatrice<br>
                            <input type="checkbox" name="nounou">Nounou à domicile<br>
                            <input type="checkbox" name="filleaupair">Jeune fille au pair<br>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Expérience exigée
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Ages pris en charge
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                Langues parlées
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                Particularités
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                Petits plus
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
                                Taches supplémentaires
                            </a>
                        </h4>
                    </div>
                    <div id="collapseHeight" class="panel-collapse collapse">
                        <div class="panel-body">
                            A dév
                        </div>
                    </div>
                </div>
            </div>

            <a href="" class="btn bg-yellow white">Vous aussi publiez votre annonce !</a>
            <div class="new">
                <div class="header">
                    <img src="{{ asset('img/icons/alaune.png') }}" alt="a la une">
                    <div class="title">
                        <h5>La boite à comptines est née !</h5>
                    </div>
                </div>
                <div class="body">
                    <p>La boite à comptines est une application collaborative de collecte et de partage de comptines pour les
                        tout petits. Son ambition est d'aider les... <a href="">lire la suite</a> </p>
                </div>
            </div>
        </aside>

        <div class="profiles">
            <a href="">
                <div class="profile">
                    <div class="header">
                        <img src="{{ asset('img/illus/nounou.jpg') }}" alt="Sarah L." class="photo" style="height: 120px;">
                        <p class="tarif">10€ / heure</p>
                        <strong>Sarah L.&nbsp;</strong>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                    </div>
                    <div class="body">
                        <p>
                            Je suis une jeune étudiante en art, créative et passionnée. Je...<br>
                            <strong>
                                <img src="{{ asset('img/icons/profil-badge.png') }}" alt="badge"> 5 Badges&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-experience.png') }}" alt="experience"> 1 ans&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-languages.png') }}" alt="laguages"> Français, Italien, Espagnol
                            </strong>
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="profile">
                    <div class="header">
                        <img src="{{ asset('img/illus/nounou.jpg') }}" alt="Louis D." class="photo" style="height: 120px;">
                        <p class="tarif">9€ / heure</p>
                        <strong>Louis D.&nbsp;</strong>
                        <span class="balloon"></span>
                    </div>
                    <div class="body">
                        <p>
                            Je suis une jeune étudiante en art, créative et passionnée. Je...<br>
                            <strong>
                                <img src="{{ asset('img/icons/profil-badge.png') }}" alt="badge"> 1 Badges&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-experience.png') }}" alt="experience"> 1 ans&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-languages.png') }}" alt="laguages"> Français
                            </strong>
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="profile">
                    <div class="header">
                        <img src="{{ asset('img/illus/nounou.jpg') }}" alt="Julie B." class="photo" style="height: 120px;">
                        <p class="tarif">12€ / heure</p>
                        <strong>Julie B.&nbsp;</strong>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                    </div>
                    <div class="body">
                        <p>
                            Je suis une jeune étudiante en art, créative et passionnée. Je...<br>
                            <strong>
                                <img src="{{ asset('img/icons/profil-badge.png') }}" alt="badge"> 10 Badges&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-experience.png') }}" alt="experience"> 5 ans&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-languages.png') }}" alt="laguages"> Français, Anglais
                            </strong>
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="profile">
                    <div class="header">
                        <img src="{{ asset('img/illus/nounou.jpg') }}" alt="Anais P." class="photo" style="height: 120px;">
                        <p class="tarif">8€ / heure</p>
                        <strong>Anais P.&nbsp;</strong>
                    </div>
                    <div class="body">
                        <p>
                            Je suis une jeune étudiante en art, créative et passionnée. Je...<br>
                            <strong>
                                <img src="{{ asset('img/icons/profil-badge.png') }}" alt="badge"> 0 Badges&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-experience.png') }}" alt="experience"> 0 ans&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-languages.png') }}" alt="laguages"> Français
                            </strong>
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="profile">
                    <div class="header">
                        <img src="{{ asset('img/illus/nounou.jpg') }}" alt="Johanna M." class="photo" style="height: 120px;">
                        <p class="tarif">10€ / heure</p>
                        <strong>Johanna M.&nbsp;</strong>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                    </div>
                    <div class="body">
                        <p>
                            Je suis une jeune étudiante en art, créative et passionnée. Je...<br>
                            <strong>
                                <img src="{{ asset('img/icons/profil-badge.png') }}" alt="badge"> 7 Badges&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-experience.png') }}" alt="experience"> 6 ans&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-languages.png') }}" alt="laguages"> Français, Italien
                            </strong>
                        </p>
                    </div>
                </div>
            </a>
            <a href="">
                <div class="profile">
                    <div class="header">
                        <img src="{{ asset('img/illus/nounou.jpg') }}" alt="Laura N." class="photo" style="height: 120px;">
                        <p class="tarif">11€ / heure</p>
                        <strong>Laura N.&nbsp;</strong>
                        <span class="balloon"></span>
                        <span class="balloon"></span>
                    </div>
                    <div class="body">
                        <p>
                            Je suis une jeune étudiante en art, créative et passionnée. Je...<br>
                            <strong>
                                <img src="{{ asset('img/icons/profil-badge.png') }}" alt="badge"> 10 Badges&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-experience.png') }}" alt="experience"> 5 ans&nbsp;&nbsp;
                                <img src="{{ asset('img/icons/profil-languages.png') }}" alt="laguages"> Français, Anglais
                            </strong>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

    var latlng = new google.maps.LatLng(48.8575162, 2.3426246);
    // paris : 48.8575162	2.3426246
    //objet contenant des propriétés avec des identificateurs prédéfinis dans Google Maps permettant
    //de définir des options d'affichage de notre carte
    var options = {
        center: latlng,
        zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    //constructeur de la carte qui prend en paramêtre le conteneur HTML
    //dans lequel la carte doit s'afficher et les options
    var map = new google.maps.Map(document.getElementById("map"), options);
    var minimap = new google.maps.Map(document.getElementById("mini-map"), options);

</script>
<script type="text/javascript">

    $(function() {
        $('.profile').hover(
                function() {
                    $(this).children(".header").css('background-color','#e84355');
                    $(this).children(".header").children(".balloon").css('background-image','url(../img/icons/balloon-white.png)');
                }
                , function() {
                    $(this).children(".header").css('background-color','#eeeeee');
                    $(this).children(".header").children(".balloon").css('background-image','url(../img/icons/balloon-red.png)');
                });
    })

</script>
{% endblock %}