{# src/Pn/PnBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}Parent-nounou.fr{% endblock %}</title>

    {% block metadata %}
        <meta charset="UTF-8">
        <meta name="keywords" content="nounou, babysitter, parent, enfant, bebe">
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/pnpn/css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/pnpn/css/global.css') }}" type="text/css" />
    {% endblock %}

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

    <!-- favicon-->
    <link rel="icon" type="image/png" href="{{ asset('bundles/pnpn/images/favicon.png') }}">
</head>
<body>

<div class="construction">Ce site est en contruction - Merci de votre compréhension</div>

<header>
    {{ render(controller("PnPnBundle:Default:header")) }}
</header>

<div class="container">
    {% block body %}
    {% endblock %}
</div>

<footer>
    <div class="wrap">
        <div class="social-bar">

            <a href="https://twitter.com/ParentNounou" target="_blank">
                <div class="icon bg-blue">
                    <img src="{{ asset('bundles/pnpn/images/icons/social-twitter.png') }}">
                </div>
            </a>
            <a href="https://www.facebook.com/parent.nounou" target="_blank">
                <div class="icon bg-facebookblue">
                    <img src="{{ asset('bundles/pnpn/images/icons/social-facebook.png') }}">
                </div>
            </a>
            <a href="https://plus.google.com/110107023333606538211" rel="publisher" target="_blank">
                <div class="icon bg-red">
                    <img src="{{ asset('bundles/pnpn/images/icons/social-google.png') }}">
                </div>
            </a>
        </div>
        <div class="pages">
            <a href="{{ path('pn_job_annonces') }}" class="red" style="padding-left: 0; border-left: 0">Annonces</a>
            <a href="{{ path('babysitter') }}" class="red">Nounous</a>
            <a href="{{ path('pn_blog') }}" class="red">Blog</a>
            <a href="{{ path('pn_cgu') }}">CGU</a>
            {#<a href="#tarifs" role="button" data-toggle="modal">Tarifs</a>#}
            <a href="{{ path('pn_team') }}">Equipe</a>
            <a href="#contact" role="button" data-toggle="modal">Contact</a>

            {#<div class="modal fade" id="tarifs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header bg-red">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                            <h3 id="myModalLabel">Nos tarifs</h3>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-6">
                                <div class="subtitle">
                                    <h4>Forfait NOUNOU</h4>
                                    <span class="red">GRATUIT</span>
                                </div>
                                <div class="list">
                                    <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="check">Publiez votre annonce<br>
                                    <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="check">Postulez aux offres d'emplois<br>
                                    <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="check">Contactez les parents
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="subtitle">
                                    <h4>Forfait PARENT</h4>
                                    <span class="red">9€50</span>
                                </div>
                                <div class="list">
                                    <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="check">Publiez plusieurs annonces annonce<br>
                                    <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="check">Engagez des nounous<br>
                                    <img src="{{ asset('bundles/pnpn/images/icons/check.png') }}" alt="check">Contactez des nounous
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>#}

            <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header bg-blue medium">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <img src="{{ asset('bundles/pnpn/images/icons/croix.png') }}">
                            </button>
                            <h3 id="myModalLabel">Contact</h3>
                        </div>
                        <div class="modal-body">
                            <div class="text">
                                <p>Une question ? Un avis ? Un simple petit mot ? Appelez-nous ou laissez-nous un message !</p>
                                <p class="bold">01 56 78 98 09</p>
                            </div>
                            {{ render(controller("PnPnBundle:Default:contact")) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>

{% block javascripts %}
    {# jquery est charge en local si l'environnement est dev #}
    {% if app.environment == 'dev' %}
    <script type="text/javascript" src="{{ asset('bundles/pnpn/js/jquery.js') }}"></script>
    {% else %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ asset('bundles/pnpn/js/bootstrap.js') }}"></script>
    {% include 'PnPnBundle:Javascript:script.html.twig' %}
{% endblock %}

</body>
</html>