{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mooc</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ entity.presentation }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mooc') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
