{# src/Pn/PnBundle/Resources/views/Job/index.html.twig #}

{% import "PnPnBundle::calendar.html.twig" as calendar %}
{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Annonces{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pnpn/css/availability.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <div class="maptool wrap">
        <div id="map">
            Veuillez patienter pendant le chargement de la carte...
        </div>
        <div class="searchForm">
            <form action="{{ path('pn_search') }}" method="post">
                <select class="btn" name="searchType">
                    <option value="nounou">Je cherche une nounou</option>
                    <option value="job" selected>Je cherche un job</option>
                </select>
                <input name="field" class="search" type="search" autocomplete="true" placeholder="Indiquez votre ville ou votre code postal">
                <input type="submit" value="chercher" class="btn bg-yellow submit">
            </form>
        </div>
    </div>

    <div class="wrap">
    <aside>

        <div class="panel-group" id="accordion">
            <div class="panel" style="border-top: none;">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Disponibilités
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body" style="margin-left: 0;">
                        {{ calendar.sortTable() }}
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Catégorie de nounou
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="checkbox" name="category[babysitter]" checked="checked">Baby sitter<br>
                        <input type="checkbox" name="category[assistanteMaternelle]" checked="checked">Assistante maternelle<br>
                        <input type="checkbox" name="category[animatrice]" checked="checked">Animatrice<br>
                        <input type="checkbox" name="category[nounou]" checked="checked">Nounou à domicile<br>
                        <input type="checkbox" name="category[aupair]" checked="checked">Jeune fille au pair<br>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Expérience exigée
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="radio" name=experience value=0 checked>Pas d'exigence<br>
                        <input type="radio" name=experience value=1 >1 an<br>
                        <input type="radio" name=experience value=3 >3 ans<br>
                        <input type="radio" name=experience value=10 >10 ans
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Ages pris en charge
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="checkbox" name="age[0-1]">0-1 an<br>
                        <input type="checkbox" name="age[1-3]">1-3 ans<br>
                        <input type="checkbox" name="age[3-6]">3-6 ans<br>
                        <input type="checkbox" name="age[6-10]">6-10 ans<br>
                        <input type="checkbox" name="age[10+]">Plus de 10 ans<br>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            Langues parlées
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="checkbox" name="language[fr]">Français<br>
                        <input type="checkbox" name="language[en]">Anglais<br>
                        <input type="checkbox" name="language[it]">Italien<br>
                        <input type="checkbox" name="language[es]">Espagnol<br>
                        <input type="checkbox" name="language[ru]">Russe<br>
                        <input type="checkbox" name="language[other]">Autre<br>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            Particularités
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="checkbox" name="particularite[nonfumeur]">Non fumeur<br>
                        <input type="checkbox" name="particularite[animaux]">Pas d'animaux domestiques<br>
                        <input type="checkbox" name="particularite[permis]">Avec permis de conduire<br>
                        <input type="checkbox" name="particularite[voiture]">Avec voiture<br>
                        <input type="checkbox" name="particularite[lettre]">Lettres de recommandation<br>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                            Petits plus
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="checkbox" name="petitplus[repasmaison]">Repas cuisinés maison<br>
                        <input type="checkbox" name="petitplus[bio]">Repas bio<br>
                        <input type="checkbox" name="petitplus[promenade]">Promenade quotidienne<br>
                        <input type="checkbox" name="petitplus[notv]">Zéro télé<br>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
                            Taches supplémentaires
                        </a>
                    </h4>
                </div>
                <div id="collapseHeight" class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="checkbox" name="extraTask[cleaning]">Ménage<br>
                        <input type="checkbox" name="extraTask[cooking]">Cuisine<br>
                        <input type="checkbox" name="extraTask[ironing]">Repassage<br>
                        <input type="checkbox" name="extraTask[homework]">Aide aux devoirs<br>
                    </div>
                </div>
            </div>
        </div>

        <div id="mini-map" style="height: 160px">
            Veuillez patienter pendant le chargement de la carte...
        </div>

        {% if app.user %}
            {% if app.user.type == 'nounou' %}
                <a href="{{ path('myprofile_edit') }}" class="btn bg-yellow white">Complétez votre profil !</a>
            {% else %}
                <a href="{{ path('myprofile_edit') }}" class="btn bg-yellow white">Publiez votre annonce !</a>
            {% endif %}
        {% endif %}

    </aside>

    <div class="profiles">
        {% for entity in entities %}
            <a href="{{ path('pn_job_show', {'id': entity.id}) }}">
                <div class="profile" id="{{ entity.id }}"
                     data-calendar="{{ entity.calendar }}"
                     data-category="{{ entity.category }}"
                     data-experience="{{ entity.experience }}"
                     data-age={% autoescape false %}'{{ entity.getAgeOfChildren()|json_encode() }}'{% endautoescape %}
                     data-language="{{ entity.getLanguages()|json_encode() }}"
                     data-particularite="{{ entity.getParticularite()|json_encode() }}"
                     data-petitplus="{{ entity.getPetitsPlus()|json_encode() }}"
                     data-extraTasks="{{ entity.getExtraTasks()|json_encode() }}">
                    <div class="header">
                        {% if entity.parent.user.avatar %}
                            <img class="photo" src="{{ asset('uploads/users/' ~ entity.parent.user.avatar) }}" alt="photo de profil de {{ entity.parent.user.firstname }}" style="height: 120px;">
                        {% else %}
                            <img src="{{ asset('bundles/pnpn/images/illus/logo.png') }}" alt="{{ entity.parent.user.hiddenName }}" class="photo" style="height: 120px;">
                        {% endif %}
                        {% if entity.ratePrice %}
                            <p class="tarif">{{ entity.ratePrice }}€ / {{ entity.parent.user.rateTypes[entity.rateType] }}</p>
                        {% endif %}
                        <strong>{{ entity.title }}&nbsp;</strong>
                    </div>
                    <div class="body">
                        <p>
                            {{ entity.shortDescription(85)|raw }}<br>
                            <strong>
                                {#<img src="{{ asset('bundles/pnpn/images/icons/profil-badge.png') }}" alt="badge"> 5 Badges&nbsp;&nbsp;#}
                                {% if entity.experience %}
                                    <img src="{{ asset('bundles/pnpn/images/icons/profil-experience.png') }}" alt="experience"> {{ entity.experience }} ans&nbsp;&nbsp;
                                {% endif %}
                                {% if entity.languages %}
                                    <img src="{{ asset('bundles/pnpn/images/icons/profil-languages.png') }}" alt="laguages">
                                    {% for pp in entity.languages %}
                                        {{ entity.parent.user.getLanguagess[pp] }}
                                        {% if not loop.last %}
                                            ,&nbsp;
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </strong>
                        </p>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        //Chargement des icones
        var icon_grey = "{{ asset('bundles/pnpn/images/markers/marqueur-grey.png') }}";
        var icon_jaune = "{{ asset('bundles/pnpn/images/markers/marqueur-jaune.png') }}";
        var icon_rouge = "{{ asset('bundles/pnpn/images/markers/marqueur-rouge.png') }}";

        var latlng = new google.maps.LatLng(48.8575162, 2.3426246);
        var zoneMarqueurs = new google.maps.LatLngBounds();
        // paris : 48.8575162	2.3426246
        //objet contenant des propriétés avec des identificateurs prédéfinis dans Google Maps permettant
        //de définir des options d'affichage de notre carte
        var options = {
            center: latlng,
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        //constructeur de la carte qui prend en paramêtre le conteneur HTML
        //dans lequel la carte doit s'afficher et les options
        var map = new google.maps.Map(document.getElementById("map"), options);
        var minimap = new google.maps.Map(document.getElementById("mini-map"), options);

        //Positionnement des jobs
        {% for entity in entities %}
        {% if entity.latitude and entity.longitude %}
        var job_position{{ loop.index }} = new google.maps.LatLng({{ entity.latitude }},{{ entity.longitude }});
        var job_m{{ loop.index }} = new google.maps.Marker({
            position: job_position{{ loop.index }},
            map: map,
            icon: icon_grey
        });
        var nounou2_m{{ loop.index }} = new google.maps.Marker({
            position: job_position{{ loop.index }},
            map: minimap,
            icon: icon_grey
        });
        zoneMarqueurs.extend(  job_m{{ loop.index }}.getPosition() );
        var job_contentm{{ loop.index }} = '' +
                '<a href="{{ path('pn_job_show', {'id': entity.id}) }}">' +
                '   <div class="mini-profile" style="margin-left: 0;">' +
                '       <div class="header">' +
                {% if entity.parent.user.avatar %}
                '           <img class="profile-picture" src="{{ asset('uploads/users/' ~ entity.parent.user.avatar) }}" alt="photo de profil de {{ entity.parent.user.firstname }}" style="height: 120px;">' +
                {% else %}
                '           <img class="profile-picture" src="{{ asset('bundles/pnpn/images/illus/logo.png') }}" alt="photo de profil" style="height: 120px;">' +
                {% endif %}
                '           <strong>{{ entity.parent.user.getHiddenName() }}</strong>' +
                '           <p>Paris</p>' +
                '       </div>' +
                '       <div class="body">' +
                '           <p>Parent</p>' +
                '       </div>' +
                '   </div>' +
                '</a>';
        var job_info{{ loop.index }} = new google.maps.InfoWindow({
            content  : job_contentm{{ loop.index }},
            position : job_position{{ loop.index }},
            backgroundColor : 'rgb(134,255.200)'
        });
        google.maps.event.addListener(job_m{{ loop.index }}, 'click', function() {
            job_info{{ loop.index }}.open(map,job_m{{ loop.index }});
        });
        {% endif %}
        {% endfor %}
        {% if entities %}
        map.fitBounds(zoneMarqueurs);
        minimap.fitBounds(zoneMarqueurs);
        {% endif %}

    </script>
    <script type="text/javascript">

        $(function() {
            $('.profile').hover(
                    function() {
                        $(this).children(".header").css('background-color','#e84355');
                        {% if app.environment == 'dev' %}
                        $(this).children(".header").children(".balloon").css('background-image','url(../../bundles/pnpn/images/icons/balloon-white.png)');
                        {% else %}
                        $(this).children(".header").children(".balloon").css('background-image','url(../bundles/pnpn/images/icons/balloon-white.png)');
                        {% endif %}
                    }
                    , function() {
                        $(this).children(".header").css('background-color','#eeeeee');
                        {% if app.environment == 'dev' %}
                        $(this).children(".header").children(".balloon").css('background-image','url(../../bundles/pnpn/images/icons/balloon-red.png)');
                        {% else %}
                        $(this).children(".header").children(".balloon").css('background-image','url(../bundles/pnpn/images/icons/balloon-red.png)');
                        {% endif %}
                    });
        })

    </script>
    <script type="text/javascript" src="{{ asset('bundles/pnpn/js/availability.js') }}"></script>
{% endblock %}











{#
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Babysitter list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Presentation</th>
                <th>Experience</th>
                <th>Trustpoints</th>
                <th>Anythingelse</th>
                <th>Ageofchildren</th>
                <th>Availabilities</th>
                <th>Favoriteactivities</th>
                <th>Hobbies</th>
                <th>Mychildren</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('babysitter_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.presentation }}</td>
                <td>{{ entity.experience }}</td>
                <td>{{ entity.trustpoints }}</td>
                <td>{{ entity.anythingelse }}</td>
                <td>{{ entity.ageofchildren }}</td>
                <td>{{ entity.availabilities }}</td>
                <td>{{ entity.favoriteactivities }}</td>
                <td>{{ entity.hobbies }}</td>
                <td>{{ entity.mychildren }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('babysitter_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('babysitter_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('babysitter_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
#}



















{#
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Job list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>Description</th>
                <th>Address</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Hourlyrate</th>
                <th>Duration</th>
                <th>How_to_apply</th>
                <th>Token</th>
                <th>Is_public</th>
                <th>Is_activated</th>
                <th>Expires_at</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pn_job_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.latitude }}</td>
                <td>{{ entity.longitude }}</td>
                <td>{{ entity.hourlyrate }}</td>
                <td>{{ entity.duration }}</td>
                <td>{{ entity.howtoapply }}</td>
                <td>{{ entity.token }}</td>
                <td>{{ entity.ispublic }}</td>
                <td>{{ entity.isactivated }}</td>
                <td>{% if entity.expiresat %}{{ entity.expiresat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pn_job_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('pn_job_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('pn_job_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
#}
