{# src/Pn/PnBundle/Resources/views/Job/show.html.twig #}

{% import "PnPnBundle::calendar.html.twig" as calendar %}
{% extends "PnPnBundle::layout.html.twig" %}

{% block title %}Cherche {{ entity.parent.user.getCategories[entity.category] }} à {{ entity.city }} {{ entity.postcode }} | {{ parent() }}{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="Cherche {{ entity.parent.user.getCategories[entity.category] }} à {{ entity.city }} {{ entity.postcode }}">
{% endblock %}

{% block body %}
    <div class="profile-page parent">

        <div class="wrap">

            <div id="map" style="height: 180px;">
                Veuillez patienter pendant le chargement de la carte...
            </div>
            {% if (app.user) and (app.user.type == 'parent') and app.user.parent.id == entity.parent.id %}
                <a href="{{ path('myprofile_edit') }}"><div class="edit bg-red white">modifiez votre annonce</div></a>
            {% endif %}


            <div class="description">
                <div class="header">
                    <div class="left">
                        {% if entity.parent.user.avatar %}
                            <img class="profile-picture" src="{{ asset('uploads/users/' ~ entity.parent.user.avatar) }}" alt="photo de profil de {{ entity.parent.user.firstname }}" style="height: 120px;">
                        {% else %}
                            <img class="profile-picture" src="{{ asset('bundles/pnpn/images/illus/logo.png') }}" alt="photo de profil" style="height: 120px;">
                        {% endif %}
                        {#{% if (app.user) and (app.user.type == 'nounou') %}
                            <button class="favorite icon bg-yellow white"></button>
                        {% endif %}#}
                    </div>
                    <div class="right">
                        {% if entity.ratePrice %}
                            <div class="tarif">{{ entity.ratePrice }}€ / {{ entity.parent.user.getRateTypes[entity.rateType] }}</div>
                        {% endif %}
                    </div>
                    <h1>{{ entity.title }}</h1>
                </div>
                <div class="body">
                    {{ entity.description|raw }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="coords">
                        {% if app.user %}
                            <a href="{{ path('message',{ 'conv':entity.parent.user.id }) }}" style="display: block; color: #ffffff;">
                                <img src="{{ asset('bundles/pnpn/images/icons/menu-message.png') }}" alt="message icon">
                                Envoyer un message à {{ entity.parent.user.firstname }}
                            </a>
                            <img src="{{ asset('bundles/pnpn/images/icons/profil-phone.png') }}" alt="telephone">&nbsp;{{ entity.phone }}
                        {% else %}
                            <a href="#login" role="button" data-toggle="modal" style="color: #ffffff;">
                                Connectez vous pour voir les coordonnées de {{ entity.parent.user.firstname }}
                            </a>
                            <img src="{{ asset('bundles/pnpn/images/icons/profil-phone.png') }}" alt="telephone">&nbsp;{{ entity.phone }}
                        {% endif %}
                    </div>
                    <div class="details">
                        <img src="{{ asset('bundles/pnpn/images/icons/adresse.png') }}" alt="adresse"> {{ entity.unacurateAddress }} <br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-calendar.png') }}" alt="calendar icon"> du 17.12.2013 au 20.032014<br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-experience.png') }}" alt="experience"> {{ entity.experience }} ans d'expérience minimum<br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-certifications.png') }}" alt="certifications">
                        <p>
                            {% for pp in entity.diplomas %}
                                - {{ entity.parent.user.diplomass[pp] }}<br>
                            {% endfor %}
                        </p>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-age.png') }}" alt="age des enfants">
                        Prise en charge des enfants&nbsp;
                        {% for pp in entity.ageOfChildren %}
                        de&nbsp;{{ entity.parent.user.ageOfChildrens[pp] }}
                        {% if not loop.last %}
                            ,&nbsp;
                        {% endif %}
                        {% endfor %}<br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-languages.png') }}" alt="telephone">
                        {% for pp in entity.languages %}
                        {{ entity.parent.user.getLanguagess[pp] }}
                        {% if not loop.last %}
                            ,&nbsp;
                        {% endif %}
                        {% endfor %}<br>
                    </div>
                </div>
                <div class="col-md-4 calendar">
                    {{ calendar.viewTable(calendarMatrix) }}
                </div>
                <div class="col-md-4">
                    {#<div class="child-block">
                        <b>Anais</b><br>
                        <img src="{{ asset('bundles/pnpn/images/icons/sablier.png') }}" alt="timer icon"> 6 ans<br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-like.png') }}" alt="heart icon"> jouer aux barbies<br>
                    </div>
                    <div class="child-block">
                        <b>Tom</b><br>
                        <img src="{{ asset('bundles/pnpn/images/icons/sablier.png') }}" alt="timer icon"> 10 ans<br>
                        <img src="{{ asset('bundles/pnpn/images/icons/profil-like.png') }}" alt="heart icon"> football, jouer aux mikado, echecs<br>
                    </div>#}
                    <div class="other">
                        <b>Tâches supplémentaire&nbsp;:</b>
                        <p>
                            {% for task in entity.extraTasks %}
                                - {{ entity.parent.user.extraTaskss[task] }}<br>
                            {% endfor %}
                        </p>

                        <b>Vos petits plus&nbsp;:</b>
                        <p>
                            {% for pp in entity.petitsplus %}
                                - {{ entity.parent.user.petitspluss[pp] }}<br>
                            {% endfor %}
                        </p>

                        <b>Vos atouts :</b>
                        <p>
                            {% for part in entity.particularite %}
                                - {{ entity.parent.user.particularites[part] }}<br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="recommandations">
            <div class="banner bg-red big-wrap">
                <div class="wrap">
                    <h4>Recommandations</h4>
                </div>
            </div>
            <div class="wrap">
                {% if app.user %}
                    <form action="{{ path('recommendation_send',{ 'to':entity.parent.user.id }) }}" method="post" id="new_recommendation" {{ form_enctype(recommendation_form) }}>
                        {{ form_errors(recommendation_form.body) }}
                        {{ form_widget(recommendation_form.body, { 'attr': {'placeholder': 'Ecrivez une recommandation'} }) }}

                        {{ form_rest(recommendation_form) }}
                        <input type="submit" value="publier">
                    </form>
                {% else %}
                    <a href="#login" role="button" class="btn bg-yellow" data-toggle="modal" style="width: 100%; margin-bottom: 30px;">Connectez-vous pour laisser une recommandation</a>
                {% endif %}
                {% for recommendation in entity.parent.user.receivedRecommendations|reverse %}
                    <div class="recommandation">
                        {% if recommendation.giver.avatar %}
                            <img class="profile-picture" src="{{ asset('uploads/users/' ~ recommendation.giver.avatar) }}" alt="photo de profil de {{ recommendation.giver.firstname }}" style="height: 90px;">
                        {% elseif recommendation.giver.type == 'nounou' %}
                            <img class="profile-picture" src="{{ asset('bundles/pnpn/images/illus/nounou.jpg') }}" alt="photo de profil" style="height: 90px;">
                        {% else %}
                            <img class="profile-picture" src="{{ asset('bundles/pnpn/images/illus/logo.png') }}" alt="photo de profil" style="height: 90px; width: 86px;">
                        {% endif %}
                        <img class="left-arrow" src="{{ asset('bundles/pnpn/images/icons/left-arrow.png') }}" alt="left-arrow">
                        <div class="bulle">
                            <p>{{ recommendation.body }}</p>
                            <span class="red">{{ recommendation.giver.hiddenName }}</span> {{ recommendation.giver.type }}. Posté le {{ recommendation.createdAt|date('d-m-Y')  }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        //Chargement des icones
        var icon_jaune = "{{ asset('bundles/pnpn/images/markers/marqueur-jaune.png') }}";


        {% if entity.latitude and entity.longitude %}
        var latlng = new google.maps.LatLng({{ entity.latitude }}, {{ entity.longitude }});
        {% else %}
        var latlng = new google.maps.LatLng(48.8575162,	2.3426246);
        {% endif %}
        // paris : 48.8575162	2.3426246
        //objet contenant des propriétés avec des identificateurs prédéfinis dans Google Maps permettant
        //de définir des options d'affichage de notre carte
        var options = {
            center: latlng,
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        //constructeur de la carte qui prend en paramêtre le conteneur HTML
        //dans lequel la carte doit s'afficher et les options
        var map = new google.maps.Map(document.getElementById("map"), options);

        //création du marqueur
        {% if entity.latitude and entity.longitude %}
        marqueur = new google.maps.Marker({
            position: new google.maps.LatLng({{ entity.latitude }}, {{ entity.longitude }}),
            draggable: false,
            map: map,
            icon: icon_jaune
        });
        {% endif %}

    </script>
{% endblock %}

{#


{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Job</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entity.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ entity.longitude }}</td>
            </tr>
            <tr>
                <th>Hourlyrate</th>
                <td>{{ entity.hourlyrate }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>How_to_apply</th>
                <td>{{ entity.howtoapply }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ entity.token }}</td>
            </tr>
            <tr>
                <th>Is_public</th>
                <td>{{ entity.ispublic }}</td>
            </tr>
            <tr>
                <th>Is_activated</th>
                <td>{{ entity.isactivated }}</td>
            </tr>
            <tr>
                <th>Expires_at</th>
                <td>{{ entity.expiresat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pn_job') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pn_job_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
#}
